:root {
    
    /* background-colors */
    --primary-bg-color: #2F2506;
    --secondary-bg-color: #6B5A24;

    /* colour-tone */
    --colour-tone-1: #740001;
    --colour-tone-1-dark: #470001;
    --colour-tone-1-light: #C3383A;

    --colour-tone-2: #D3A625;
    --colour-tone-2-light: #FDE08B;
    --colour-tone-2-dark: #7D6112;

    --colour-tone-3: #1A472A;
    --colour-tone-3-light: #52946A;
    --colour-tone-3-dark: #062210;

    --colour-tone-4: #170074;
    --colour-tone-4-light: #2701C2;
    --colour-tone-4-dark: #10004E;

    --colour-tone-5: #5D5D5D;
    --colour-tone-5-light: #A2A2A2;
    --colour-tone-5-dark: #2B2B2B;

    /* font-sizes */
    --h1-desktop: 96px;
    --h1-tablet: 72px;
    --h1-mobile: 60px;

    --h2-desktop: 60px;
    --h2-tablet: 54px;
    --h2-mobile: 48px;

    --h3-desktop: 48px;
    --h3-tablet: 42px;
    --h3-mobile: 36px;

    --p-desktop: 24px;
    --p-tablet: 20px;
    --p-mobile: 18px;
}

html {
    background-color: var(--primary-bg-color),  var(--secondary-bg-color);
}

h1  {
    font-size: var(--h1-desktop);
    font-family: 'Harry Potter', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Harry Potter', sans-serif;
    font-size: var(--h2-desktop);
    font-weight: 700;
}

p {
    font-family: 'Yellowtail', sans-serif;
    font-size: var(--p-desktop);
}

a {
    font-family: 'Yellowtail', sans-serif;
}

link {
    font-family: 'Yellowtail', sans-serif;
}

@media (max-width: 1023px) {
    h1 {
        font-size: var(--h1-tablet);
    }
    
    h2 {
        font-size: var(--h2-tablet);
    }

    p {
        font-size: var(--p-tablet);
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: var(--h1-mobile);
    }

    h2 {
        font-size: var(--h2-mobile);
    }

    p {
        font-size: var(--p-mobile);
    }
}